html, body {
  height: 100%; }

.balanceWrapper {
  height: 100%;
  color: #323232;
  background-color: #EBEBEB; }
  .balanceWrapper ul {
    width: 100%; }
    .balanceWrapper ul li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center;
      padding: 13px 12px;
      height: 60px;
      background-color: #fff; }
      .balanceWrapper ul li:last-child {
        background-image: none; }
      .balanceWrapper ul li .balanceLeft {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        font-size: 14px; }
        .balanceWrapper ul li .balanceLeft .topUp {
          margin-bottom: 10px; }
          .balanceWrapper ul li .balanceLeft .topUp .count {
            margin-left: 13px;
            color: #f29f5b; }
        .balanceWrapper ul li .balanceLeft .time {
          color: #b4b4b4; }
      .balanceWrapper ul li .balanceRight {
        color: #f29f5b;
        font-size: 17px; }
        .balanceWrapper ul li .balanceRight .count {
          margin-left: 13px; }
