body, html {
  color: #323232;
  height: 100%; }

.wrapper {
  height: 100%;
  background-color: #ebebeb; }
  .wrapper .avatarContent {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    margin-bottom: 10px;
    padding: 0 12px;
    height: 79px;
    background-color: #fff; }
    .wrapper .avatarContent .avatar {
      margin-right: 20px;
      border-radius: 50%; }
  .wrapper .parentInfo {
    margin-bottom: 10px;
    width: 100%; }
    .wrapper .parentInfo > li {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-align: center;
      align-items: center;
      padding: 14px 12px;
      font-size: 14px;
      background-color: #fff; }
      .wrapper .parentInfo > li .detailContent {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-align: center;
        align-items: center;
        color: #999; }
        .wrapper .parentInfo > li .detailContent .icon_arrow {
          display: inline-block;
          margin-left: 15px;
          width: 9px;
          height: 17px;
          background: url("25.png") left top no-repeat;
          background-size: 100% 100%; }
